.photographer-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (min-width: 582px) {
  .photographer-profile {
    display: flex;
    width: 45%;
  }
}
@media all and (min-width: 880px) {
  .photographer-profile {
    display: flex;
    width: 33%;
  }
}
.photographer-profile.photographer-profile--page {
  flex-direction: column;
  align-items: flex-start;
}

.photographer-profile__photo {
  width: 30vh;
  height: 30vh;
  border-radius: 20vh;
  object-fit: cover;
}
.photographer-profile__photo.photographer-profile__photo--small {
  width: 13vh;
  height: 13vh;
  margin-top: -14px;
  margin-left: -10px;
}

.photographer-profile__name {
  color: #D3573C;
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
}
.photographer-profile__name.photographer-profile__name--page {
  font-size: 1.8em;
}

.photographer-profile__title > h3 {
  color: #901C1C;
  font-weight: 400;
  font-size: 0.8em;
  text-align: center;
}

.photographer-profile__title--page > h3 {
  font-size: 1.2em;
}

.photographer-profile__title--page > h3 {
  text-align: left;
  font-size: 0.9em;
}

.photographer-profile__title > p {
  font-size: 0.8em;
  text-align: center;
  color: black;
}

.photographer-profile__title--page > p {
  text-align: left;
  font-size: 0.9em;
}

a {
  text-decoration: none;
}

.photographer-profile__nav > ul {
  display: flex;
}

@media all and (min-width: 582px) {
  section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.header__logo-link > img {
  width: 120px;
}

.test {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

@media all and (min-width: 880px) {
  article {
    width: 30%;
  }
}

.galery-photo {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
@media all and (min-width: 880px) {
  .galery-photo {
    flex-direction: row;
  }
}

.galery-photo__img > img,
video {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 5px;
  object-fit: cover;
}

.galery-photo-title {
  display: flex;
  justify-content: space-between;
  margin: 5px 3px;
}

.galery-photo-like {
  display: flex;
}

.galery-photo-title p,
.galery-photo-like p {
  color: #901C1C;
  font-size: 0.8em;
}

.fa-heart {
  font-size: 0.8em;
  padding-left: 3px;
}

.contact {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
@media all and (min-width: 880px) {
  .contact {
    position: relative;
    top: -55em;
    left: -5em;
  }
}

.contact__btn {
  background-color: #901C1C;
  color: white;
  border-radius: 5px;
  border: none;
  width: 25vh;
  height: 5vh;
}
@media all and (min-width: 880px) {
  .contact__btn {
    width: 12vh;
  }
}
.contact__btn.contact__btn--listbox {
  padding: 0 10px;
}

/*
.contact__btn.contact__btn--listbox::after {
  content: "";
  border-bottom: black 3px solid;

  display: block;
  width: 40px;
  padding-top: 5px;


}

*/
.menu {
  visibility: hidden;
}
@media all and (min-width: 880px) {
  .menu {
    visibility: visible;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}

label {
  padding-right: 10px;
}

.screenreader-text {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  overflow: auto;
  animation: lightbox 0.5s;
  visibility: hidden;
}

.fa-chevron-right,
.fa-chevron-left {
  position: fixed;
  z-index: 11;
  width: 46px;
  height: 46px;
  top: 50%;
  right: 0;
  color: white;
}

.lightbox__prev i {
  right: auto;
  left: 15px;
}

.lightbox__close i {
  width: 15px;
  height: 15px;
  z-index: 12;
}

.lightbox span i {
  opacity: 0.5;
  cursor: pointer;
  text-indent: -3000px;
  transition: opacity 0.3s;
}

.lightbox span :hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.lightbox__container img {
  max-width: 100%;
  height: auto;
  animation: lightbox 0.5s;
}

.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 50px;
}

@keyframes lightbox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "DM Sans", sans-serif;
  width: auto;
  margin: 0;
  padding: 20px 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
}

.header__hidden-link:nth-child(1) {
  order: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 12%;
}

.header__hidden-link > p {
  width: 40%;
  color: black;
  font-weight: bold;
  background-color: #DB8876;
  text-align: center;
  padding: 5px 0;
}

.header__logo-link:nth-child(2) {
  order: 2;
}
.header__logo-link:nth-child(2) > img {
  width: 120px;
}

.header__nav:nth-child(3) {
  order: 4;
  padding: 20px;
}
@media all and (min-width: 582px) {
  .header__nav:nth-child(3) {
    width: 100%;
  }
}
@media all and (min-width: 880px) {
  .header__nav:nth-child(3) {
    order: 2;
    width: inherit;
  }
}

.header__heading:nth-child(4) {
  order: 3;
}
@media all and (min-width: 880px) {
  .header__heading:nth-child(4) {
    order: 3;
  }
}

.header__nav > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  margin-bottom: 10px;
}

.category__link {
  font-size: 0.8em;
  padding: 3px;
  color: #901C1C;
  font-weight: 500;
  margin-right: 5px;
  border-radius: 11px;
  border: 0.5px solid #c4c4c4;
  width: 100%;
  font-weight: bold;
}
.category__link:hover {
  background-color: #901C1C;
  color: white;
}

h1 {
  color: #901C1C;
  font-weight: 400;
  font-size: 1em;
}

/*# sourceMappingURL=style.css.map */
