.header__logo-link {
  padding-bottom: 40px;
}

.photographer-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (min-width: 582px) {
  .photographer-profile {
    display: flex;
    width: 45%;
  }
}
@media all and (min-width: 880px) {
  .photographer-profile {
    display: flex;
    width: 33%;
  }
}
.photographer-profile.photographer-profile--page {
  flex-direction: column;
  align-items: flex-start;
}

.photographer-profile__photo {
  width: 30vh;
  height: 30vh;
  border-radius: 20vh;
  object-fit: cover;
}
.photographer-profile__photo.photographer-profile__photo--small {
  width: 13vh;
  height: 13vh;
  margin-top: -14px;
  margin-left: -10px;
}

.photographer-profile__name {
  color: #D3573C;
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
}
.photographer-profile__name.photographer-profile__name--page {
  font-size: 1.8em;
}

.photographer-profile__title > h3 {
  color: #901C1C;
  font-weight: 400;
  font-size: 0.8em;
  text-align: center;
}

.photographer-profile__title--page > h3 {
  font-size: 1.2em;
}

.photographer-profile__title--page > h3 {
  text-align: left;
  font-size: 0.9em;
}

.photographer-profile__title > p {
  font-size: 0.8em;
  text-align: center;
  color: black;
}

.photographer-profile__title--page > p {
  text-align: left;
  font-size: 0.9em;
}

a {
  text-decoration: none;
}

.photographer-profile__nav > ul {
  display: flex;
}

.photographer-profile__li {
  font-size: 0.8em;
  padding: 3px;
  color: #901C1C;
  font-weight: 500;
  margin-right: 5px;
  border-radius: 11px;
  border: 0.5px solid #c4c4c4;
  width: 100%;
  font-weight: bold;
}
.photographer-profile__li:hover {
  background-color: #901C1C;
  color: white;
  cursor: pointer;
}

@media all and (min-width: 582px) {
  section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.header__logo-link > img {
  width: 120px;
}

.test {
  display: flex;
  justify-content: space-between;
}
@media all and (min-width: 880px) {
  .test {
    padding-left: 20px;
  }
}

/*
article {
  @include desktop {
    width: 30%;
  }
}*/
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media all and (min-width: 880px) {
  .wrapper {
    width: 30%;
  }
}

.wrapper > article {
  width: 100%;
}

.galery-photo {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 880px) {
  .galery-photo {
    flex-direction: row;
  }
}

/*
.galery-photo__img > img,
video {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 5px;
  object-fit: cover;
}
*/
.galery-photo__img > img,
.galery-photo__img > video {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 5px;
  object-fit: cover;
}

.galery-photo-title {
  display: flex;
  justify-content: space-between;
  margin: 5px 3px;
}

.galery-photo-like {
  display: flex;
}

.galery-photo-title p,
.galery-photo-like p {
  color: #901C1C;
  font-size: 0.8em;
}

.test2 {
  color: #901C1C;
  font-size: 0.8em;
}

.fa-heart {
  font-size: 0.8em;
  padding-left: 3px;
}

.contact {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
@media all and (min-width: 880px) {
  .contact {
    position: relative;
    top: -89em;
    left: -5em;
  }
}

.contact__btn {
  background-color: #901C1C;
  color: white;
  border-radius: 5px;
  border: none;
  width: 25vh;
  height: 5vh;
  cursor: pointer;
}
@media all and (min-width: 880px) {
  .contact__btn {
    width: 12vh;
  }
}
.contact__btn.contact__btn--listbox {
  padding: 0 10px;
}

/*
#listbox__popular{
 // content: "";
  border:none;
  border-bottom:3px  rgb(45, 77, 61) solid;
  display: block;
  width: 40px;
  padding-top: 5px;
}
*/
.form__btn.contact__btn {
  margin: 20px 50px;
  cursor: pointer;
}
@media all and (min-width: 582px) {
  .form__btn.contact__btn {
    margin: 0;
  }
}
@media all and (min-width: 880px) {
  .form__btn.contact__btn {
    margin: 0;
  }
}

.menu {
  visibility: hidden;
}
@media all and (min-width: 880px) {
  .menu {
    visibility: visible;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
  }
}

label {
  padding-right: 10px;
}

.screenreader-text {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E5E5E5;
  overflow: auto;
  animation: lightbox 0.5s;
  visibility: hidden;
}

.fa-chevron-right,
.fa-chevron-left {
  position: fixed;
  z-index: 11;
  width: 46px;
  height: 46px;
  top: 50%;
  right: 0;
  font-size: 1.5em;
  color: #901C1C;
  cursor: pointer;
}

.fa-chevron-left {
  right: auto;
  left: 15px;
}

.fa-times {
  width: 46px;
  height: 46px;
  z-index: 12;
  font-size: 1.5em;
  color: #901C1C;
  right: 0;
  position: fixed;
  top: 0;
  cursor: pointer;
}

.fa-times.form-modal__close {
  opacity: 1;
  width: inherit;
  height: inherit;
  z-index: inherit;
  right: inherit;
  position: inherit;
  top: inherit;
}

.fa-chevron-right:hover,
.fa-chevron-left:hover,
.fa-times:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.lightbox__container a {
  max-width: 70%;
  height: auto;
}

.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 50px;
}

@keyframes lightbox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.total {
  width: 25vh;
  height: 5vh;
  background-color: #DB8876;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  flex-direction: flex-end;
}

.total-wrapper {
  display: flex;
  justify-content: end;
  margin: 0 -10px;
}

.total__price,
.total__likes {
  font-size: 0.8em;
  font-weight: bold;
}

.form-modal-btn {
  display: flex;
  justify-content: center;
}
@media all and (min-width: 582px) {
  .form-modal-btn {
    justify-content: start;
  }
}
@media all and (min-width: 880px) {
  .form-modal-btn {
    justify-content: start;
  }
}

.form-modal {
  background-color: #DB8876;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  overflow: auto;
  animation: lightbox 0.5s;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  padding: 10px 15px 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #DB8876;
  width: 80%;
  min-height: 60%;
  border-radius: 5px;
}
.form > h3 {
  margin-bottom: 10px;
}
@media all and (min-width: 582px) {
  .form {
    width: 60%;
  }
}
@media all and (min-width: 880px) {
  .form {
    width: 50%;
  }
}

.form-modal__title {
  display: flex;
  justify-content: space-between;
}

#prenom,
#nom,
#email,
#message {
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
}

#message {
  height: 100px;
}

.error {
  font-size: 0.9rem;
  padding-top: 5px;
  color: white;
  visibility: visible;
}

.prenom-formData, .nom-formData, .email-formData {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "DM Sans", sans-serif;
  width: auto;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__hidden-link:nth-child(1) {
  order: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 12%;
}

.header__hidden-link > p {
  width: 40%;
  color: black;
  font-weight: bold;
  background-color: #DB8876;
  text-align: center;
  padding: 5px 0;
}

.header__logo-link:nth-child(2) {
  order: 2;
}
.header__logo-link:nth-child(2) > img {
  width: 120px;
}

.header__nav:nth-child(3) {
  order: 4;
  padding: 20px;
}
@media all and (min-width: 582px) {
  .header__nav:nth-child(3) {
    width: 100%;
  }
}
@media all and (min-width: 880px) {
  .header__nav:nth-child(3) {
    order: 2;
    width: inherit;
  }
}

.header__heading:nth-child(4) {
  order: 3;
}
@media all and (min-width: 880px) {
  .header__heading:nth-child(4) {
    order: 3;
  }
}

.header__nav > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  margin-bottom: 10px;
}

.category__link {
  font-size: 0.8em;
  padding: 3px;
  color: #901C1C;
  font-weight: 500;
  margin-right: 5px;
  border-radius: 11px;
  border: 0.5px solid #c4c4c4;
  width: 100%;
  font-weight: bold;
}
.category__link:hover {
  background-color: #901C1C;
  color: white;
}

h1 {
  color: #901C1C;
  font-weight: 400;
  font-size: 1em;
}

/*# sourceMappingURL=style.css.map */
