//breakpoints

$breakpoints: (
  //desktop: 980px,
  tablette: 600px,
  desktop: 900px,
);

@mixin desktop {
  @media all and (min-width: map-get($breakpoints,desktop)) {
    @content;
  }
}
@mixin tablette {
  @media all and (min-width: map-get($breakpoints,tablette)) {
    @content;
  }
}
