//breakpoints

$breakpoints: (

  tablette: 582px,
  desktop: 880px,
);

@mixin desktop {
  @media all and (min-width: map-get($breakpoints,desktop)) {
    @content;
  }
}
@mixin tablette {
  @media all and (min-width: map-get($breakpoints,tablette)) {
    @content;
  }
}
