@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;

  
}

.header__img:nth-child(1) {
  width: 130px;
  align-self: center;
  order:1;
}
.header__nav:nth-child(2) {
  order: 3;
  padding: 20px;
  @include tablette{
    width:100%;
  }
 
  
    @include desktop{
      order: 2;
      width:inherit;
    } 
}

.header__heading:nth-child(3) {
  order: 2;
  @include desktop{
  order:3;

}}

.header__nav > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}

li {
  margin-bottom: 10px;
}
a {
  font-size: 0.8em;
  padding: 3px;
  color: $primary-color;
  font-weight: 500;
  margin-right: 5px;
  border-radius: 11px;
  border: 0.5px solid $border-color;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

h1 {
  color: $primary-color;
  font-weight: 400;

  font-size: 1em;
}
