@use "../abstracts/variables" as *;


header > img{
    width:130px;
    align-self: center;
}

header{

    display:flex;
    
    justify-content: space-between;
   align-items: center;
   padding:0 40px;
flex-wrap: wrap;
}

.test{

  display: flex;
  justify-content: space-between;
 


}


.test > li{

 font-size: 0.8em;
 padding: 3px;
 color: $primary-color;
 font-weight: 500;
margin-right: 5px;
border-radius: 11px;
border: 0.5px solid #C4C4C4;
}

h1{
    color: $primary-color;
    font-weight: 400;
    
 font-size: 1.8em;
}