@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.header {
  display: flex;
  //flex-direction: column;

  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
}
.header__hidden-link:nth-child(1) {
  order: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 12%;
  // visibility: hidden;
}

.header__hidden-link > p {
  width: 40%;
  color: black;
  font-weight: bold;
  background-color: $secondary-color;
  text-align: center;
  //margin-bottom: 20px;
  padding: 5px 0;
}
.header__logo-link:nth-child(2) {
  order: 2;

  & > img {
    width: 120px;
  }
}

.header__nav:nth-child(3) {
  order: 4;
  padding: 20px;

  @include tablette {
    width: 100%;
  }

  @include desktop {
    order: 2;
    width: inherit;
  }
}

.header__heading:nth-child(4) {
  order: 3;

  @include desktop {
    order: 3;
  }
}
.header__nav > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  margin-bottom: 10px;
}
.category__link {
  font-size: 0.8em;
  padding: 3px;
  color: $primary-color;
  font-weight: 500;
  margin-right: 5px;
  border-radius: 11px;
  border: 0.5px solid $border-color;
  width: 100%;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

h1 {
  color: $primary-color;
  font-weight: 400;

  font-size: 1em;
}
