body{
    font-family: 'DM Sans', sans-serif;
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
ul{
    list-style: none;
    padding-left: 0;
}
/*
main{
    padding:0 30px;
}
*/

h1,h2,h3,p{
    margin:0;
}