@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

/*
.header__logo-link{
  //padding-bottom: 40px;
}*/
.photographer-profile {
  // width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablette {
    display: flex;
    width: 45%;
  }

  @include desktop {
    display: flex;
    width: 33%;
  }

  &.photographer-profile--page{
   flex-direction: column;
    align-items: flex-start;
    
  }
}



.photographer-profile__photo {
  width: 30vh;
  height: 30vh;
  border-radius: 20vh;
  object-fit: cover;

  &.photographer-profile__photo--small {
    width: 9vh;
    height: 9vh;
 
    @include tablette {
      width: 13vh;
      height: 13vh;
    }
  }
}

.photographer-profile__name {
  color: $tertiary-color;
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;

  &.photographer-profile__name--page{
    font-size: 1.8em;
  }
}
.photographer-profile__title > h3 {
  color: $primary-color;
  font-weight: 400;
  font-size: 0.8em;
  text-align: center;
}
.photographer-profile__title--page > h3{

  font-size: 1.2em;
}

  .photographer-profile__title--page > h3{
    text-align: left;
    font-size: 0.9em;
  }

.photographer-profile__title > p {
  font-size: 0.8em;
  text-align: center;
  color: black;
}

.photographer-profile__title--page > p{
  text-align: left;
  font-size: 0.9em;
}
a {
  text-decoration: none;
}

.photographer-profile__nav > ul {
  display: flex;
}
.photographer-profile__li {
  font-size: 0.8em;
  padding: 3px;
  color: $primary-color;
  font-weight: 500;
  margin-right: 5px;
  border-radius: 11px;
  border: 0.5px solid $border-color;
  width: 100%;
  font-weight: bold;

  &:hover {
    background-color: $primary-color;
    color: white;
    cursor: pointer;
  }
}

 section{
  @include tablette {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
