@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.photographer-profile {
  // width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablette {
    display: flex;
    width: 45%;
  }

  @include desktop {
    display: flex;
    width: 33%;
  }

  &.photographer-profile--page{
   flex-direction: column;
    align-items: flex-start;
    
  }
}



.photographer-profile__photo {
  width: 30vh;
  height: 30vh;
  border-radius: 20vh;
  object-fit: cover;

  &.photographer-profile__photo--small {
    width: 13vh;
    height: 13vh;
   margin-top: -14px;
  }
}

.photographer-profile__img > h2 {
  color: $tertiary-color;
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
}
.photographer-profile__title > h3 {
  color: $primary-color;
  font-weight: 400;
  font-size: 0.8em;
  text-align: center;
}


  .photographer-profile__title--page > h3{
    text-align: left;
  }

.photographer-profile__title > p {
  font-size: 0.8em;
  text-align: center;
  color: black;
}

.photographer-profile__title--page > p{
  text-align: left;
}
a {
  text-decoration: none;
}

.photographer-profile__nav > ul {
  display: flex;
}

section {
  @include tablette {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
