@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.header__logo-link > img {
  width: 120px;
}

.test {
  display: flex;
  //padding: 20px;
  justify-content: space-between;

  @include desktop {
    padding-left: 20px;
  }
  
}
/*
.lightbox__close, .lightbox__next, .lightbox__prev{

}
*/
/*
article {
  @include desktop {
    width: 30%;
  }
}*/
.wrapper{
  display: flex;
  flex-direction: column;
  width:100%;

  @include desktop {
    width: 30%;
  }
}

.wrapper > article{
  width:100%;
}

.galery-photo {
  display: flex;
  flex-direction: column;
  //padding: 0 20px;

  @include desktop {
    flex-direction: row;
  }
}
/*
.galery-photo__img > img,
video {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 5px;
  object-fit: cover;
}
*/

.galery-photo__img > img, 
.galery-photo__img > video
 {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 5px;
  object-fit: cover;
}


.galery-photo-title {
  display: flex;
  justify-content: space-between;
  margin: 5px 3px;
}
.galery-photo-like {
  display: flex;
}

.galery-photo-title p,
.galery-photo-like p {
  color: $primary-color;
  font-size: 0.8em;
}

.test2{
  color: $primary-color;
  font-size: 0.8em;
  //font-weight: 400;
 // text-align: center;
}
.fa-heart {
  font-size: 0.8em;
  padding-left: 3px;
}
.contact {
  display: flex;
  justify-content: center;
  margin: 10px 0;

  @include desktop {
  //  position: relative;

 //  top: -62em;
 position:absolute;
 top:10em;
 left:25em;

  }
}
.contact__btn {
  background-color: $primary-color;
  color: white;
  border-radius: 5px;
  border: none;
  width: 25vh;
  height: 5vh;
  cursor: pointer;

  @include desktop {
    width: 18vh;
   // height: 8vh;
  }

  &.contact__btn--listbox {
    padding: 0 10px;
  }
  &.contact__btn--listbox > option{
    padding:  10px 0;
  }
}
/*
#listbox__popular{
 // content: "";
  border:none;
  border-bottom:3px  rgb(45, 77, 61) solid;
  display: block;
  width: 40px;
  padding-top: 5px;
}
*/

.form__btn.contact__btn {
  margin: 20px 50px;
  cursor: pointer;
  @include tablette{
    margin: 0;
  }
  @include desktop{
    margin: 0;
  }
  
}
.menu {
  visibility: hidden;

  @include desktop {
    visibility: visible;
    display: flex;
    justify-content: flex-start;
  
    padding-bottom: 20px;
  }
}
label {
  padding-right: 10px;
}
.screenreader-text {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background-color: rgba(0, 0, 0, 0.9);
  background-color: $lightbox-bg;
  overflow: auto;
  animation: lightbox 0.5s;
  visibility: hidden;
}

.fa-chevron-right,
.fa-chevron-left {
  position: fixed;
  z-index: 11;
  width: 46px;
  height: 46px;
  top: 50%;
  right: 0;
  font-size:1.5em;
  //margin-top: -14px;
 // color: white;
 color: $primary-color;
  
  cursor: pointer;
}

.fa-chevron-left {
  right: auto;
  left: 15px;
}

.fa-times{
  width: 46px;
  height: 46px;
  z-index: 12;
  font-size:1.5em;
 color: $primary-color;
  right: 0;
  position: fixed;
  top: 0;

  cursor: pointer;
}
.fa-times.form-modal__close {
  opacity: 1;
  width: inherit;
  height: inherit;
  z-index: inherit;

  right: inherit;
  position: inherit;
  top: inherit;
}

.fa-chevron-right:hover,
.fa-chevron-left:hover,
.fa-times:hover {
  opacity: 1;
  transition: opacity 0.3s;
}
/*
.sr-only{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
*/
.lightbox__container a {
 // max-width: 100%;
max-width:70%;
  height: auto;

  //animation: lightbox 0.5s;
}

.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 50px;
}

@keyframes lightbox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.total {
  width: 25vh;
  height: 5vh;
  background-color: $secondary-color;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

}
.total-wrapper {
  display: flex;
  justify-content: end;
  margin: 0 -10px;
}
.total__price,
.total__likes {
  font-size: 0.8em;
  font-weight: bold;
}

.form-modal-btn {
  display: flex;
  justify-content: center;
  @include tablette{
   
    justify-content: start;
  }
  @include desktop{
    
    justify-content: start;
  }
}

.form-modal {
  background-color: $secondary-color;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  overflow: auto;
  animation: lightbox 0.5s;
  visibility: hidden;
  display: flex;

  align-items: center;
  justify-content: center;
  min-height: 100vh;
  //  margin: 0 50px;
}
.form {
  padding: 10px 15px 30px 15px;
  display: flex;
  //align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: $secondary-color;
  width: 80%;
  min-height: 60%;
  border-radius: 5px;
  & > h3{
    margin-bottom: 10px;
  }
@include tablette{
  width: 60%;
}
@include desktop{
  width: 50%;
}
}

.form-modal__title {
  display: flex;
  justify-content: space-between;

 
}
#prenom,
#nom,
#email,
#message {
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
}
#message {
  height: 100px;
}
.error {
  font-size: 0.9rem;
 //c font-weight: bold;
  padding-top: 5px;
  color: white;
  visibility: visible;
}
.prenom-formData, .nom-formData, .email-formData{
  display: flex;
  flex-direction: column;
}
/*
.modal:focus,.a-chevron-right:focus, .fa-chevron-left:focus, .lightbox_container:focus, .fa-times:focus {
  outline: 1px solid red;

}*/

.focused{
  outline: 1px dashed red;
}